{% load static %}
{% load format_float %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/food.css' %}">
{% endblock %}


<li class="food-item">
    <div>
        <h1 class="food-name">{{ food.name }}</h1>
    </div>
    <img src="{{ food.image.url }}" alt="Image Missing." class="food-image">
    <p class="food-description">{{ food.weight }}г. - {{ food.price | format_float }}лв.</p>
    {% if user.is_authenticated %}
    <a href="{% url 'food details' food.id %}" class="a-button">
        Детайли
    </a>
    {% endif %}
</li>