{% load static %}

<header>
    <nav class="topnav sticky nav-second" style="background-image: url('{% static "wood-hor.jpeg" %}')">
        <div>
            <a href="#0" class="a-button">
                Топли напитки
            </a>
            <a href="#1" class="a-button">
                Безалкохолни напитки
            </a>
            <a href="#2" class="a-button">
                Пиво
            </a>
            <a href="#3" class="a-button">
                Твърд алкохол
            </a>
        </div>

        <div class="topnav-right">
            <a href="#4" class="a-button">
                Салати
            </a>
            <a href="#5" class="a-button">
                Студени мезета
            </a>
            <a href="#6" class="a-button">
                Топли мезета
            </a>
            <a href="#7" class="a-button">
                Скара
            </a>
            <a href="#8" class="a-button">
                Сачове
            </a>
            <a href="#9" class="a-button">
                Ядки
            </a>
        </div>
    </nav>
</header>
