{% extends 'shared/base.html' %}

{% block site_content %}
    <form action="{% url 'edit food' food.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Име: {{ form.name }}<br>
        Изображение: {{ form.image }}<br>
        Тегло: {{ form.weight }} г.<br>
        Цена: {{ form.price }} лв.<br>
        Време за приготвяне: {{ form.prep_time }} мин.<br>
        Тип: {{ form.type }}<br>
        В наличност: {{ form.available }}<br>
        Описание: {{ form.description }}<br>
        <button>Запази</button>
    </form>
{% endblock %}