{% extends 'shared/base.html' %}

{% block styles %}
    <link rel="stylesheet" href="css/forms.css">
{% endblock %}

{% load static %}

{% block site_content %}
    <h1>Регистрация</h1>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="Име"><br>
        <input type="text" name="last_name" placeholder="Фамилия"><br>
        <input type="text" name="username" placeholder="Потребителско име"><br>
        <input type="email" name="email" placeholder="Имейл"><br>
        <input type="password" name="password1" placeholder="Парола"><br>
        <input type="password" name="password2" placeholder="Повтори парола"><br>
        <input type="Submit" value="Регистрация">
    </form>

    <div>
        {% for message in messages %}
            <h3>
                {{ message }}
            </h3>
        {% endfor %}
    </div>
{% endblock %}